@import "../styles/mixins.scss";

.button {
  @include buttonBase();

  background-color: var(--colors-accent-50);
  color: var(--colors-accent-600);
  transition: var(--transition-bg);

  &:hover {
    background-color: var(--colors-accent-100);
  }
}
